.App-header {
  margin: 30px;
  text-align: center;
  font-weight: bold;
  color: #ffcab0;
  font-size: 80px;
}

footer {
  text-align: center;
  font-weight: 700;
  margin: 30px;
}

a {
  text-decoration: none;
  color: #ffcab0;
}
