body {
  font-family: "Poppins", sans-serif;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin: 30px;
  text-align: center;
  font-weight: bold;
  color: #35bcbf;
  font-size: 90px;
  font-family: "Pacifico", cursive;
}

footer {
  text-align: center;
  font-weight: 700;
  margin: 30px;
}

a {
  text-decoration: none;
  color: #35bcbf;
  font-family: "Pacifico", cursive;
}
