.Dictionary section {
  background: linear-gradient(
    135deg,
    rgb(255, 248, 134) 10%,
    rgb(240, 114, 182) 100%
  );
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 10px rgba(0 0 0 / 10%);
  margin: 20px 0;
}
