.Phonetic {
  margin-bottom: 30px;
}

.Phonetic a {
  border: 1px solid #f076b4;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #f076b4;
  text-decoration: none;
  font-weight: 600;
  color: yellow;
  margin-top: 10px;
  transition: all 150ms ease-in-out;
}

.Phonetic a:hover {
  color: #79c2d0;
}
